TELEGRAM_BOT_TOKEN=7867569063:AAEHyhefnqF71NM9KXBsK2myhSOrz4ClRYk:ABCdef-your-real-bot-token

MONGO_URI=mongodb+srv://<cheeta>:<Vishnu99>@cluster0.tgqnbtc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
